<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      
<%= form_for(@micropost) do |f| %>

<%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group">
            <%= f.text_field :status, class: 'form-control',placeholder: 'status', rows: 5 %>
        </div>

        <div class="form-group">
<%= f.text_area :content, class: 'form-control', placeholder: 'taskを入力',rows: 5 %>
        </div>
        
<%= f.submit 'Post', class: 'btn btn-primary btn-block' %>

      
<% end %>

    </aside>
    <div class="col-xs-8">
      
<%= render 'microposts/microposts', microposts: @microposts, user: @user %>

    </div>
  </div>
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

    </div>
  </div>
<% end %>
